<!doctype html>
<html ng-app="triangular">
<head>
    <title>Triangular Bar Chart</title>
    <meta charset="utf-8" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="BarCtrl">

    <ul>
        <li ng-repeat="circle in circles">
            <label>Radius: <input type="number" ng-model="circle.r" /></label>
            <label>X: <input type="number" ng-model="circle.x" /></label>
            <label>Y: <input type="number" ng-model="circle.y" /></label>
            <label>Color: <input type="color" ng-model="circle.fill" /></label>
        </li>
    </ul>

    <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
        <circle ng-repeat="circle in circles"
                ng-attr-cx="{{circle.x}}"
                ng-attr-cy="{{circle.y}}"
                ng-attr-r="{{circle.r}}"
                ng-attr-fill="{{circle.fill}}">
        </circle>
    </svg>
</body>
</html>