<!doctype html>
<html ng-app="triangular">
<head>
    <title>Triangular Bar Chart</title>
    <meta charset="utf-8" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="controllers/BaseCtrl.js"></script>
    <script src="controllers/BarCtrl.js"></script>
    <script src="app.js"></script>
    <style>
        body {
            background-color: #121212;
            fill: #4cff00;
        }
    </style>
</head>
<body ng-controller="BarCtrl">

    <div>
        <button ng-click="vm.randomise()">Randomise</button>
    </div>

    <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
        <rect
              ng-repeat="bar in bars"
              width="50"
              ng-attr-height="{{bar.height}}"
              ng-attr-y="{{graph.height - bar.height}}"
              ng-attr-x="{{$index * 60}}"></rect>
    </svg>

</body>
</html>