<!doctype html>
<html ng-app="triangular">
<head>
    <title>Triangular Bar Chart</title>
    <meta charset="utf-8" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>
    <script src="controllers/BaseCtrl.js"></script>
    <script src="controllers/BarCtrl.js"></script>
    <script src="app.js"></script>
    <style>
        body {
            background-color: #121212;
            fill: #4cff00;
        }
        .passes {
            fill: #4800ff;
        }
        .failures {
            fill: #8f009a;
        }
        .passIncrease {
            fill: #0094ff;
        }
        .failureIncrease {
            fill: #ff1ad0;
        }
    </style>
</head>
<body ng-controller="BarCtrl">

    <div>
        <button ng-click="vm.randomise()">Randomise</button>
    </div>

    <svg ng-attr-height="{{vm.height}}" ng-attr-width="{{vm.width}}">
        <g ng-repeat="test in tests">
            <rect width="50"
                  ng-attr-height="{{test.passes * vm.scale}}"
                  ng-attr-y="{{vm.height - (test.passes + maxFailures) * vm.scale}}"
                  ng-attr-x="{{$index * 70 + 10}}"
                  class="passes"></rect>
            <rect width="50"
                  ng-attr-height="{{test.failures * vm.scale}}"
                  ng-attr-y="{{maxPasses * vm.scale}}" 
                  ng-attr-x="{{$index * 70 + 10}}"
                  class="failures"></rect>
            <rect width="10"
                  ng-attr-height="{{test.passIncrease * vm.scale}}"
                  ng-attr-y="{{vm.height - (test.passIncrease + maxFailures) * vm.scale}}"
                  ng-attr-x="{{$index * 70}}"
                  class="passIncrease"></rect>
            <rect width="10"
                  ng-attr-height="{{test.failureIncrease * vm.scale}}"
                  ng-attr-y="{{maxPasses * vm.scale}}"
                  ng-attr-x="{{$index * 70}}"
                  class="failureIncrease"></rect>
        </g>
    </svg>

</body>
</html>